<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>servlets.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignupServlet</servlet-name>
        <servlet-class>servlets.AdminSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <servlet-class>servlets.CustomerSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAdminsServlet</servlet-name>
        <servlet-class>servlets.admin.ManageAdminsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>servlets.admin.AddAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>servlets.admin.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <servlet-class>servlets.admin.DeleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>servlets.AddDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <servlet-class>servlets.UpdateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>servlets.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllVehiclesServlet</servlet-name>
        <servlet-class>servlets.GetAllVehiclesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVehicleByIdServlet</servlet-name>
        <servlet-class>servlets.GetVehicleByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>servlets.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <servlet-class>servlets.UpdateVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <servlet-class>servlets.DeleteVehicleServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignupServlet</servlet-name>
        <url-pattern>/AdminSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <url-pattern>/CustomerSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAdminsServlet</servlet-name>
        <url-pattern>/ManageAdminsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminServlet</servlet-name>
        <url-pattern>/DeleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/AddDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <url-pattern>/UpdateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllVehiclesServlet</servlet-name>
        <url-pattern>/GetAllVehiclesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVehicleByIdServlet</servlet-name>
        <url-pattern>/GetVehicleByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/AddVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVehicleServlet</servlet-name>
        <url-pattern>/UpdateVehicleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehicleServlet</servlet-name>
        <url-pattern>/DeleteVehicleServlet</url-pattern>
    </servlet-mapping>
    <!-- Welcome File Configuration -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <!-- Ensures index.jsp is loaded first -->
    </welcome-file-list>
</web-app>
